
<%- include('partials/cabecera', {titulo: "MDV Sensores - Panel de Control", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  

<div class="container my-5 py-3 " >
<% if (typeof user !== 'undefined' && user !== null && user.nombre_1 && user.apellido_1) { %>
    <h1>Panel de control de <%= user.nombre_1 %> <%= user.apellido_1 %></h1>
    <div class="card p-3">
      <h2 class="display-5">Acciones</h2>
      <a href="/users/registerForm" class="btn btn-success w-50">Registrar nuevo usuario</a>
    </div>
    
  <% } else { %>
    <h1>Error: Usuario no encontrado</h1>
  <% } %>
</div> 

    
<%- include('partials/piedepagina') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%    
    if (typeof results !== 'undefined' && results === 'registrocorrecto'){ %>
      <script>
          Swal.fire({
                  title: 'Registro exitoso !',
                  text: '<%= message %>',
                  icon: 'success',
                  confirmButtonText: 'Entendido'})
      </script>
    <%
    } 
   
%>

<%    
    if (typeof results !== 'undefined' && results === 'registrofallido'){ %>
      <script>
          Swal.fire({
                  title: 'Registro Fallido !',
                  text: '<%= message %>',
                  icon: 'error',
                  confirmButtonText: 'Entendido'})
      </script>
    <%
    } 
   
%>
</body>
</html>

