
<%- include('partials/cabecera', {titulo: "MDV Sensores - Panel de Control", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  

<div class="container my-5 py-3 " >
<% if (typeof user !== 'undefined' && user !== null && user.nombre_1 && user.apellido_1) { %>
    <h1>Panel de control de <%= user.nombre_1 %> <%= user.apellido_1 %></h1>

    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>        
        <li class="breadcrumb-item active" aria-current="page">Panel de control</li>
      </ol>
    </nav>


    <p class="fs-5 mt-5">En esta sección usted puede ver las acciones que puede realizar, segun su rol definido por el administrador.</p>
    <div class="card p-3">
      <h3 class="display-6">Usted puede administrar:</h3>
      <div class="row">
        <a href="/users/all" class="btn btn-outline-primary text-uppercase col-lg-3 m-lg-1 m-0 my-2">
          <i class="far fa-user mr-1 " style="font-size: 1.25em;"></i> Usuarios
        </a>
        <a href="/locations/all" class="btn btn-outline-primary text-uppercase col-lg-3  m-lg-1 m-0  my-2">
          <i class="fa-solid fa-location-crosshairs " style="font-size: 1.25em;"></i> Ubicaciones
          
        </a>
        <a href="/dataloggers/all" class="btn btn-outline-primary text-uppercase col-lg-3  m-lg-1 m-0  my-2">
          <i class="fa-solid fa-microchip " style="font-size: 1.25em;"></i> Dataloggers
          
        </a>
      </div>
     
    </div>
    
  <% } else { %>
    <h1>Error: Usuario no encontrado</h1>
  <% } %>
</div> 

    
<%- include('partials/piedepagina') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%    
    if (typeof results !== 'undefined' && results === 'registrocorrecto'){ %>
      <script>
          Swal.fire({
                  title: 'Registro exitoso !',
                  text: '<%= message %>',
                  icon: 'success',
                  confirmButtonText: 'Entendido'})
      </script>
    <%
    }    
%>

<%    
    if (typeof results !== 'undefined' && results === 'registrofallido'){ %>
      <script>
          Swal.fire({
                  title: 'Registro Fallido !',
                  text: '<%= message %>',
                  icon: 'error',
                  confirmButtonText: 'Entendido'})
      </script>
    <%     }      %>

    <%  if (typeof results !== 'undefined' && results === 'correoenviado'){ %>
    <script>
        Swal.fire({
                title: 'Correo enviado !',
                text: '<%= message %>',
                icon: 'succes',
                confirmButtonText: 'Entendido'})
                .then((result) => {
                  if (result.isConfirmed){
                    location.href='/users/all';
                  }
                })
                 
    </script>
  <%   }  %>

<%  if (typeof results !== 'undefined' && results === 'edicioncorrecta'){ %>
      <script>
          Swal.fire({
                  title: 'Edicion exitosa !',
                  text: '<%= message %>',
                  icon: 'success',
                  confirmButtonText: 'Entendido'})
      </script>
    <% }  %>

<%  if (typeof results !== 'undefined' && results === 'edicionerronea'){ %>
  <script>
      Swal.fire({
              title: 'Edicion erronea !',
              text: '<%= message %>',
              icon: 'error',
              confirmButtonText: 'Entendido'})
  </script>
<% }     %>

</body>
</html>

