
<%- include('partials/cabecera', {titulo: "MDV Sensores - Panel de Control", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  

<div class="container my-5 py-3 " >
  <% if (typeof user !== 'undefined' && user !== null && user.nombre_1 && user.apellido_1) { %>
      <h1>Edición del perfil de <%= userRequired.nombre_1 %> <%= userRequired.apellido_1 %></h1>
      <!--Breadcrumb-->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" onclick="goBack()" >
              <i class="fas fa-arrow-left"></i> Volver
            </a>
          </li>   
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>        
          <li class="breadcrumb-item"><a href="/users/dashboard">Panel de control</a></li> 
          <li class="breadcrumb-item"><a href="/users/all">Usuarios</a></li>   
          <li class="breadcrumb-item"><a href="/users/view/<%= userRequired.dni %>">Ver perfíl</a></li>   
          <li class="breadcrumb-item active" aria-current="page">Editar Perfil</li>
        </ol>
      </nav>
      <p class="fs-5 mt-5">En esta sección usted puede editar la información de la cuenta de un usuario.</p>
      
  <div class="d-flex flex-column flex-lg-row ">
    <div class="card m-3 col-12 col-lg-6">
      <div class="card-body">   
        <form action="/users/update" method="post"  enctype="multipart/form-data">          

          
          <!--vista previa de la Foto -->
          <img src="/images/<%= userRequired.foto %>" class="card-img-top" style="width: 200px; height:auto;  margin-top: 10px;"
            alt="Foto del usuario <%= userRequired.nombre_1 %> <%= userRequired.apellido_1 %>" id="imagePreview">
          <input type="hidden" name="foto" id="foto" value="<%= userRequired.foto %>">

          <!--cambiar foto-->
          <div class="mb-3 row">
              <label for="image" class="col-sm-2 col-md-3 col-form-label">Cambiar imagen</label>
              <div class="col-sm-10 col-md-9">
                  <input type="file" class="form-control" id="image" name="image" accept="image/*">                  
              </div>
          </div>
          <!--Primer nombre-->
          <div class="mb-3 row">
            <label for="nombre_1" class="col-sm-2 col-md-3 col-form-label">Primer Nombre</label>
            <div class="col-sm-10  col-md-9">
              <input type="text" class="form-control" id="nombre_1" name="nombre_1"
                value="<%= userRequired.nombre_1 %>">
            </div>
          </div>
          <!--Segundo nombre-->
          <div class="mb-3 row">
            <label for="nombre_2" class="col-sm-2 col-md-3 col-form-label">Segundo Nombre</label>
            <div class="col-sm-10  col-md-9">
              <input type="text" class="form-control" id="nombre_2" name="nombre_2"
                value="<%= userRequired.nombre_2 %>">
            </div>
          </div>
          <!--Primer apellido-->
          <div class="mb-3 row">
            <label for="apellido_1" class="col-sm-2 col-md-3 col-form-label">Primer apellido</label>
            <div class="col-sm-10  col-md-9">
              <input type="text" class="form-control" id="apellido_1" name="apellido_1"
                value="<%= userRequired.apellido_1 %>">
            </div>
          </div>
          <!--Segundo apellido-->
          <div class="mb-3 row">
            <label for="apellido_2" class="col-sm-2 col-md-3 col-form-label">Segundo apellido</label>
            <div class="col-sm-10  col-md-9">
              <input type="text" class="form-control" id="apellido_2" name="apellido_2"
                value="<%= userRequired.apellido_2 %>">
            </div>
          </div>
          <!--DNI-->
          <div class="mb-3 row">
            <label for="dni" class="col-sm-2 col-md-3 col-form-label">D.N.I.</label>
            <div class="col-sm-10  col-md-9">
              <input type="text" class="form-control" id="dni" name="dni"
                value="<%= userRequired.dni %>">
            </div>
          </div>
          <!--Email-->
          <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-md-3 col-form-label">Correo electrónico</label>
            <div class="col-sm-10  col-md-9">
              <input type="email" class="form-control" id="email" name="email"  aria-describedby="emailHelp"
                value="<%= userRequired.email %>"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" 
                maxlength="45" 
                title="Debe tener formato de correo electrónico válido y no sobrepasar los 45 caracteres [CAMPO OBLIGATORIO]" 
                required>
              
            </div>
          </div>     
          <!--Teléfono-->
          <div class="mb-3 row">
            <label for="telefono" class="col-sm-2 col-md-3 col-form-label">Teléfono</label>
            <div class="col-sm-10  col-md-9">
              <input type="tel" class="form-control" id="telefono" name="telefono"  aria-describedby="telefonoHelp"
                value="<%= userRequired.telefono %>"
                pattern="^(?:(?:[1-9]\d{1}[1-9]\d{7})|(?:[1-9]\d{2}[1-9]\d{6}))$"
                maxlength="10"
                title="Debe tener formato de teléfono válido en Argentina y no sobrepasar los 10 dígitos"
                required>          
            </div>
          </div>       
          
          <h3 class="display-3 fs-2 ">Domicilio</h3>     
          
          <input type="hidden" name="direcciones_id" value="<%= userRequired.direcciones_id %>">
          <input type="hidden" id="provincia_id" value="<%= userRequired.provincia %>">
          <input type="hidden" id="partido_id" value="<%= userRequired.partido %>">
          <input type="hidden" id="localidad_id" value="<%= userRequired.localidad %>">


          <% if (userRequired.calle === 'calle falsa' ) { %>
            <div class="alert alert-warning mt-3" role="alert">
              El usuario <strong> debe indicar su domicilio </strong> , completando, calle, numero, provincia, partido, y localidad. 
              <!-- estos datos <strong> son obligatorios </strong>.             -->
            </div>
          <% } %>

          <!-- calle -->
          <div class="mb-3 row">
            <label for="calle" class="col-sm-2 col-md-3 col-form-label">Calle</label>
            <div class="col-sm-10  col-md-9">
              <input type="text" class="form-control" id="calle" name="calle"  aria-describedby="calleHelp"
                value="<%=  userRequired.calle  %>"            
                maxlength="45"
                title="Debe ser un nombre de calle y no sobrepasar los 45 caracteres"
                required>          
            </div>
          </div>     
          <!-- Número -->
          <div class="mb-3 row">
            <label for="numero" class="col-sm-2 col-md-3 col-form-label">Número</label>
            <div class="col-sm-10  col-md-9">
              <input type="text" class="form-control" id="numero" name="numero" aria-describedby="numeroHelp" 
              value="<%= userRequired.numero  %>"            
                inputmode="numeric" pattern="[0-9]{1,8}" title="Puede sólo números, hasta 8 dígitos numéricos" maxlength="8" required>     
            </div>
          </div>     


          <!-- Provincia -->         
          <div class="mb-3 row">
            <label for="provincia" class="col-sm-2 col-md-3 col-form-label">provincia</label>
            <div class="col-sm-10 col-md-9">
                <select class="form-select" id="provincia" name="provincia">
                  <option value="" disabled selected>Seleccione una provincia</option>
                </select>
            </div>
          </div>
          <!-- partido -->
          <div class="mb-3 row">
            <label for="partido" class="col-sm-6 col-md-5 col-form-label">Partido / Departamento / Comuna</label>
            <div class="col-sm-6 col-md-7">
                <select class="form-select" id="partido" name="partido" disabled>
                  <option value="" disabled selected>Seleccione una ...</option>
                </select>
            </div>
          </div>
          <!-- localidad -->
          <div class="mb-3 row">
            <label for="localidad" class="col-sm-2 col-md-3 col-form-label">Localidad / Barrio</label>
            <div class="col-sm-10 col-md-9">
                <select class="form-select" id="localidad" name="localidad" disabled>
                  <option value="" disabled selected>Seleccione una ...</option>
                </select>
            </div>
          </div>  
          <div class="mb-3 row">
            
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </form> 
      </div>    
      
    </div>
    <!-- Fin de la Card personal-->
  
    

    <!-- Principio de la Card de ubicaciones y roles-->
    <div class="card m-3 col-12 col-lg-6">    
      <div class="card-body">
        <h5 class="card-title">
          Ubicaciones y roles
        </h5>
        <!-- userLocationRoles userLocationRoles.nombre userLocationRoles.nombre_rol  userRequired.estado === 1 ? 'Alta' : 'Baja'-->        
        <% if (userLocationRoles.length > 0) { %>
          <table class="table">
            <thead>
              <tr>
                <th>Ubicación</th>
                <th>Rol</th>                
                <th>Acciones</th>  
              </tr>
            </thead>
            <tbody>
              <% userLocationRoles.forEach(function(item) { %>
                <tr>
                  <td><a href="/locations/view/<%= item.id %>" class="btn-sm mb-1"><%= item.nombre %></a></td>
                  <td><%= item.nombre_rol %></td>      
                  <td>
                      <a href="/locations/view/<%= item.id %>" class="btn btn-primary btn-sm mb-1">Ver</a>
                      <a href="#" id="editarRolesBtn"  class="btn btn-secondary btn-sm mb-1" 
                        data-id_usuario = "<%= item.usuarios_id %>"
                        data-id_ubicacion="<%= item.id %>" 
                        data-id_rol="<%= item.roles_id %>" 
                        data-nombre_ubicacion="<%= item.nombre %>" 
                        data-nombre_rol="<%= item.nombre_rol %>"
                        data-usuarios_x_ubicaciones_x_roles_id="<%= item.usuarios_x_ubicaciones_x_roles_id %>"
                        >Editar</a>
                  </td>            
                </tr>
              <% }); %>
            </tbody>
          </table>
        <% } else { %>
          <p>No hay elementos para mostrar.</p>
        <% } %>        
        <div class="container row justify-content-start">
          <a href="#" id="agregarRolesBtn" class="btn btn-success col-12">Agregar roles</a>
        </div>
      </div>
    </div>
    <!-- Fin  de la Card de ubicaciones y roles-->

    <!--Empieza modal de EDITAR rol-->
<div class="container">
  <!-- Aquí colocamos el enlace y el modal -->  

  <div class="modal fade" id="editarRolesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/locations/role/update" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Rol</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Aquí coloca el contenido del formulario para editar un rol 
            atributos personaliados del boton "editar": 
                        data-id_usuario 
                        data-id_ubicacion
                        data-id_rol 
                        data-nombre_ubicacion 
                        data-nombre_rol
                        usuarios_x_ubicaciones_x_roles_id -->
            <input type="hidden" name="usuarios_x_ubicaciones_x_roles_id_edit" id="usuarios_x_ubicaciones_x_roles_id_edit" 
              value = "<%= userLocationRoles.usuarios_x_ubicaciones_x_roles_id %>">
            <div class="card mb-3">
              <div class="card-body">
                <div class="mb-3 row">
                  <label for="ubicaciones_id_edit" class="col-sm-3 col-md-5 col-form-label">Ubicación</label>
                  <div class="col-sm-9 col-md-7 my-2">
                    <input type="hidden" value="<%= userRequired.id %>" id="usuarios_id_edit" name="usuarios_id_edit">
                    <select class="form-select" id="ubicaciones_id_edit" name="ubicaciones_id_edit">
                      <option value="" disabled selected>Seleccione una ...</option>
                      <% allLocations.forEach(function(location, index) { %>
                        <option value="<%= location.id %>">
                          <%= location.nombre %>
                        </option>
                      <% }); %>
                    </select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="roles_id_edit" class="col-sm-3 col-md-5 col-form-label">Rol</label>
                  <div class="col-sm-9 col-md-7 my-2">
                    <select class="form-select"  id="roles_id_edit" name="roles_id_edit">
                      <option value="" disabled selected>Seleccione una ...</option>
                      <% roles.forEach(function(rol, index) { %>
                        <option value="<%= rol.id %>"  data-nombrerol="<%= rol.nombre %>">
                          <%= rol.nombre %>
                        </option>
                      <% }); %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" id="guardarRolBtn">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Termina modal de editar rol-->

  </div>

    <% } else { %>
      <h1>Error: Usuario no encontrado</h1>
    <% } %>
</div>

<!--Empieza modal de NUEVO rol-->
<div class="container">
  <!-- Aquí colocamos el enlace y el modal -->
  

  <div class="modal fade" id="agregarRolesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/locations/role/add" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar Nuevo Rol</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Aquí coloca el contenido del formulario para agregar un nuevo rol -->
            <div class="card mb-3">
              <div class="card-body">
                <div class="mb-3 row">
                  <label for="ubicacion" class="col-sm-3 col-md-5 col-form-label">Ubicación</label>
                  <div class="col-sm-9 col-md-7 my-2">
                    <input type="hidden" value="<%= userRequired.id %>" id="usuarios_id" name="usuarios_id">
                    <select class="form-select" id="ubicaciones_id" name="ubicaciones_id">
                      <option value="" disabled selected>Seleccione una ...</option>
                      <% allLocations.forEach(function(location, index) { %>
                        <option value="<%= location.id %>">
                          <%= location.nombre %>
                        </option>
                      <% }); %>
                    </select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="rol" class="col-sm-3 col-md-5 col-form-label">Rol</label>
                  <div class="col-sm-9 col-md-7 my-2">
                    <select class="form-select"  id="roles_id" name="roles_id">
                      <option value="" disabled selected>Seleccione una ...</option>
                      <% roles.forEach(function(rol, index) { %>
                        <option value="<%= rol.id %>"  data-nombrerol="<%= rol.nombre %>">
                          <%= rol.nombre %>
                        </option>
                      <% }); %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" id="guardarRolBtn">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Termina modal de nuevo rol-->

<!--Empieza modal de EDITAR rol-->
<div class="container">
<!-- Aquí colocamos el enlace y el modal -->  

<div class="modal fade" id="editarRolesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog">
  <div class="modal-content">
    <form action="/locations/role/update" method="POST">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Rol</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Aquí coloca el contenido del formulario para editar un rol 
        atributos personaliados del boton "editar": 
                    data-id_usuario 
                    data-id_ubicacion
                    data-id_rol 
                    data-nombre_ubicacion 
                    data-nombre_rol
                    usuarios_x_ubicaciones_x_roles_id -->
        <input type="hidden" name="usuarios_x_ubicaciones_x_roles_id_edit" id="usuarios_x_ubicaciones_x_roles_id_edit" 
          value = "<%= userLocationRoles.usuarios_x_ubicaciones_x_roles_id %>">
        <div class="card mb-3">
          <div class="card-body">
            <div class="mb-3 row">
              <label for="ubicaciones_id_edit" class="col-sm-3 col-md-5 col-form-label">Ubicación</label>
              <div class="col-sm-9 col-md-7 my-2">
                <input type="hidden" value="<%= userRequired.id %>" id="usuarios_id_edit" name="usuarios_id_edit">
                <select class="form-select" id="ubicaciones_id_edit" name="ubicaciones_id_edit">
                  <option value="" disabled selected>Seleccione una ...</option>
                  <% allLocations.forEach(function(location, index) { %>
                    <option value="<%= location.id %>">
                      <%= location.nombre %>
                    </option>
                  <% }); %>
                </select>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="roles_id_edit" class="col-sm-3 col-md-5 col-form-label">Rol</label>
              <div class="col-sm-9 col-md-7 my-2">
                <select class="form-select"  id="roles_id_edit" name="roles_id_edit">
                  <option value="" disabled selected>Seleccione una ...</option>
                  <% roles.forEach(function(rol, index) { %>
                    <option value="<%= rol.id %>"  data-nombrerol="<%= rol.nombre %>">
                      <%= rol.nombre %>
                    </option>
                  <% }); %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" id="guardarRolBtn">Guardar</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>
<!--Termina modal de editar rol-->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
<%- include('partials/piedepagina') %>        


<script src="/scripts/loadComboLocation.mjs" type="module"></script> 

<script>
  document.getElementById('image').addEventListener('change', function(event) {
        var file = event.target.files[0];
        var imgPreview = document.getElementById('imagePreview');

        // Verifica si se seleccionó una imagen
        if (file) {
            var reader = new FileReader();

            // Cuando se cargue el archivo, muestra la vista previa de la imagen
            reader.onload = function(e) {
                imgPreview.src = e.target.result;
                imgPreview.style.display = 'block';
            };

            // Lee el archivo como una URL de datos
            reader.readAsDataURL(file);
        } else {
            // Si no se seleccionó ninguna imagen, oculta la vista previa
            imgPreview.src = '';
            imgPreview.style.display = 'none';
        }
    });
</script>
<script>
  // Función para ir a la página anterior
  function goBack() {
    window.history.back();
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var myModal = new bootstrap.Modal(document.getElementById('agregarRolesModal'));
    document.getElementById('agregarRolesBtn').addEventListener('click', function () {
      myModal.show();
    });
    var myModal2 = new bootstrap.Modal(document.getElementById('editarRolesModal'));
    document.querySelectorAll('#editarRolesBtn').forEach(button => {
    button.addEventListener('click', function (e) {
      // Extraemos los datos personalizados del botón "Editar"
      const idUsuario = button.getAttribute('data-id_usuario');
      const idUbicacion = button.getAttribute('data-id_ubicacion');
      const idRol = button.getAttribute('data-id_rol');
      const nombreUbicacion = button.getAttribute('data-nombre_ubicacion');
      const nombreRol = button.getAttribute('data-nombre_rol');
      const idUsuariosXubicacionesXroles = button.getAttribute('data-usuarios_x_ubicaciones_x_roles_id');
          
      console.log(idUsuario, idUbicacion, idRol, nombreUbicacion, nombreRol, idUsuariosXubicacionesXroles);      
      myModal2.show();
      
      document.getElementById("usuarios_id").value = idUsuario;
      document.getElementById("usuarios_x_ubicaciones_x_roles_id_edit").value = idUsuariosXubicacionesXroles;

      const ubicacionesSelect = document.getElementById("ubicaciones_id_edit");
      ubicacionesSelect.value = idUbicacion;
      const rolesSelect = document.getElementById("roles_id_edit");
      rolesSelect.value = idRol;
    });
  });

  });
</script>

   </body>
</html>