<% if (user) { %>
    <%- include('partials/cabecera', {titulo: "MDV Sensores - Home", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  <% } else { %>
    <%- include('partials/cabecera_visitantes', {titulo: "MDV Sensores - Gracias por visitar nuestro proyecto"}) %>
  <% } %>
  

<div class="container my-5 py-3 " >
    <h1 class="h1 ">¡Bienvenidos a MDV Sensores !</h1>   
    <h2 class="display-5 fs-2 mt-5">Qué es "MDV Sensores?</h2>
    <p class="py-1 ">Con nuestro servicio usted puede monitorizar sus equipos desde cualquier parte del mundo, a traves de nuestra aplicacion.</p>
    <h2 class="display-5 fs-2 mt-5">Cómo funciona?</h2>
    <p class="py-1 ">Texto explicando como funciona el sistema, como se instala, configura, etc.</p>
    <h2 class="display-5 fs-2 mt-5" id="sobremdv">Sobre MeDicina Vital – MDV srl</h2>
    <p class="py-1 ">Con más de 30 años de trayectoria proveyendo un servicio de calidad a nuestros clientes, tanto en el ámbito privado como en el espacio público. </p>
    <p>Una empresa profesional, pionera en el uso de tecnología led para las lámparas de cirugía en la argentina.</p>
    <a href="https://mdvsrl.com.ar/" target="_blank" >Sitio oficial de MDV SRL</a>
</div>
 
    
<%- include('partials/piedepagina') %>     
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%    
    if (typeof results !== 'undefined' && results === 'activacionfallida'){ %>
      <script>
          Swal.fire({
                  title: 'Registro Fallido !',
                  text: '<%= message %>',
                  icon: 'error',
                  confirmButtonText: 'Entendido'})
      </script>
    <%
    } 
   
%>

<%    
    if (typeof results !== 'undefined' && results === 'registroPasswordIncorrecto'){ %>
      <script>
          Swal.fire({
                  title: 'Registro de password Fallido !',
                  text: '<%= message %>',
                  icon: 'error',
                  confirmButtonText: 'Entendido'})
      </script>
    <%
    } 
   
%>
    
</body>
</html>