<% if (user) { %>
    <%- include('partials/cabecera', {titulo: "MDV Sensores - Home", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  <% } else { %>
    <%- include('partials/cabecera_visitantes', {titulo: "MDV Sensores - Gracias por visitar nuestro proyecto"}) %>
  <% } %>
  

<div class="container my-5 py-3 " >
    <h1>¡Bienvenidos a MDV Sensores !</h1>   
    
</div>
 
    
<%- include('partials/piedepagina') %>     
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%    
    if (typeof results !== 'undefined' && results === 'activacionfallida'){ %>
      <script>
          Swal.fire({
                  title: 'Registro Fallido !',
                  text: '<%= message %>',
                  icon: 'error',
                  confirmButtonText: 'Entendido'})
      </script>
    <%
    } 
   
%>

<%    
    if (typeof results !== 'undefined' && results === 'registroPasswordIncorrecto'){ %>
      <script>
          Swal.fire({
                  title: 'Registro de password Fallido !',
                  text: '<%= message %>',
                  icon: 'error',
                  confirmButtonText: 'Entendido'})
      </script>
    <%
    } 
   
%>
    
</body>
</html>