<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= message %> - MDV Sensores</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head> 
<body style="background-color: #272404;">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<%  if (typeof results !== 'undefined' && results === 'addUserOk'){ %>
      <script>
          Swal.fire({
                  title: 'Registro exitoso !',
                  text: '<%= message %>',
                  icon: 'success',
                  confirmButtonText: 'Entendido'})
                  .then((result) => {
                  if (result.isConfirmed){
                    location.href='/users/all';
                  }
                })  
      </script>
    <%
    }    
%>

<%  if (typeof results !== 'undefined' && results === 'addUserFails'){ %>
    <script>
        Swal.fire({
                title: 'Registro Fallido !',
                text: '<%= message %>',
                icon: 'error',
                confirmButtonText: 'Entendido'})
                .then((result) => {
                  if (result.isConfirmed){
                    location.href='/users/all';
                  }
                })  
    </script>
    <%
    }
%>

<%  if (typeof results !== 'undefined' && results === 'editUserOk'){ %>
    <script>
        Swal.fire({
                title: 'Edicion exitosa !',
                text: '<%= message %>',
                icon: 'success',
                confirmButtonText: 'Entendido'})
                .then((result) => {
                if (result.isConfirmed){
                  location.href='/users/view/<%= userDni %>';
                }
              })
    </script>
    <% 
    }  
%>

<%  if (typeof results !== 'undefined' && results === 'editUserFails'){ %>
    <script>
        Swal.fire({
                title: 'Edicion erronea !',
                text: '<%= message %>',
                icon: 'error',
                confirmButtonText: 'Entendido'})
                .then((result) => {
                if (result.isConfirmed){
                  location.href='/users/view/<%= userDni %>';
                }
              })
    </script>
    <% 
    }     
%>

<!-- addLocationOK -->
<%  if (typeof results !== 'undefined' && results === 'addLocationOK'){ %>
  <script>
      Swal.fire({
              title: 'Registro exitoso !',
              text: '<%= message %>',
              icon: 'success',
              confirmButtonText: 'Entendido'})
              .then((result) => {
              if (result.isConfirmed){
                location.href='/locations/view/<%= locationId %>';
              }
            })
  </script>
  <% 
  }  
%>

<!-- addLocationFails -->
<%  if (typeof results !== 'undefined' && results === 'addLocationFails'){ %>
  <script>
      Swal.fire({
              title: 'Registro Fallido !',
              text: '<%= message %>',
              icon: 'error',
              confirmButtonText: 'Entendido'})
              .then((result) => {
              if (result.isConfirmed){
                location.href='/locations/all';
              }
            })
  </script>
  <% 
  }  
%>

<%  if (typeof results !== 'undefined' && results === 'editLocationOk'){ %>
  <script>
      Swal.fire({
              title: 'Edicion exitosa !',
              text: '<%= message %>',
              icon: 'success',
              confirmButtonText: 'Entendido'})
              .then((result) => {
              if (result.isConfirmed){
                location.href='/locations/view/<%= locationId %>';
              }
            })
  </script>
  <% 
  }  
%>

<%  if (typeof results !== 'undefined' && results === 'editLocationFails'){ %>
  <script>
      Swal.fire({
              title: 'Edicion erronea !',
              text: '<%= message %>',
              icon: 'error',
              confirmButtonText: 'Entendido'})
              .then((result) => {
              if (result.isConfirmed){
                location.href='/locations/view/<%= locationId %>';
              }
            })
  </script>
  <% 
  }     
%>

<!-- addLocationUserRoleOk -->
<%  if (typeof results !== 'undefined' && results === 'addLocationUserRoleOk'){ %>
  <script>
      Swal.fire({
              title: 'Edicion exitosa !',
              text: '<%= message %>',
              icon: 'success',
              confirmButtonText: 'Entendido'})
              .then((result) => {
              if (result.isConfirmed){
                location.href='/users/view/<%= userDni %>';
              }
            })
  </script>
  <% 
  }     
%>

<!-- addLocationUserRoleFails -->
<%  if (typeof results !== 'undefined' && results === 'addLocationUserRoleFails'){ %>
  <script>
      Swal.fire({
              title: 'Edicion erronea !',
              text: '<%= message %>',
              icon: 'success',
              confirmButtonText: 'Entendido'})
              .then((result) => {
              if (result.isConfirmed){
                location.href='/users/view/<%= userDni %>';
              }
            })
  </script>
  <% 
  }     
%>

<!-- addDataloggerOk -->
<%  if (typeof results !== 'undefined' && results === 'addDataloggerOk'){ %>
  <script>
      Swal.fire({
              title: 'Registro exitoso !',
              text: '<%= message %>',
              icon: 'success',
              confirmButtonText: 'Entendido'})
              .then((result) => {
              if (result.isConfirmed){
                location.href='/dataloggers/view/<%= dataloggerId %>';
              }
            })
  </script>
  <% 
  }     
%>

<!-- addDataloggerFails -->
<%  if (typeof results !== 'undefined' && results === 'addDataloggerFails'){ %>
  <script>
      Swal.fire({
              title: 'Registro erroneo !',
              text: '<%= message %>',
              icon: 'success',
              confirmButtonText: 'Entendido'})
              .then((result) => {
              if (result.isConfirmed){
                location.href='/dataloggers/all';
              }
            })
  </script>
  <% 
  }     
%>

<!-- editDataloggerOk -->
<%  if (typeof results !== 'undefined' && results === 'editDataloggerOk'){ %>
  <script>
      Swal.fire({
              title: 'Edicion exitosa !',
              text: '<%= message %>',
              icon: 'success',
              confirmButtonText: 'Entendido'})
              .then((result) => {
              if (result.isConfirmed){
                location.href='/dataloggers/view/<%= dataloggerId %>';
              }
            })
  </script>
  <% 
  }     
%>

<!-- editDataloggerFails -->
<%  if (typeof results !== 'undefined' && results === 'editDataloggerFails'){ %>
  <script>
      Swal.fire({
              title: 'Edicion erronea !',
              text: '<%= message %>',
              icon: 'success',
              confirmButtonText: 'Entendido'})
              .then((result) => {
              if (result.isConfirmed){
                location.href='/dataloggers/view/<%= dataloggerId %>';
              }
            })
  </script>
  <% 
  }     
%>


<%  if (typeof results !== 'undefined' && results === 'locationNoFound'){ %>
  <script>
      Swal.fire({
              title: 'Ubicación no encontrada !',
              text: '<%= message %>',
              icon: 'error',
              confirmButtonText: 'Entendido'})
              .then((result) => {
              if (result.isConfirmed){
                location.href='/locations/all';
              }
            })
  </script>
  <% 
  }  
%>

<%  if (typeof results !== 'undefined' && results === 'correoenviado'){ %>
  <script>
      Swal.fire({
              title: 'Correo enviado !',
              text: '<%= message %>',
              icon: 'success',
              confirmButtonText: 'Entendido'})
              .then((result) => {
                if (result.isConfirmed){
                  location.href='/users/all';
                }
              })              
  </script>
  <%
   }  
%>

<%  if (typeof results !== 'undefined' && results === 'alarmaeditada'){ %>
  <script>    
      Swal.fire({
              title: 'Alarma editada !',
              text: '<%= message %>',
              icon: 'success',
              confirmButtonText: 'Entendido'})
              .then((result) => {
                if (result.isConfirmed){
                  location.href=`/dataloggers/view/<%= dataloggerid %>/channels/<%= channelid %>`;                  
                }
              })              
  </script>
  <%
   }  
%>


<%  if (typeof results !== 'undefined' && results === 'alarmaagregada'){ %>
  <script>    
      Swal.fire({
              title: 'Alarma Agregada !',
              text: '<%= message %>',
              icon: 'success',
              confirmButtonText: 'Entendido'})
              .then((result) => {
                if (result.isConfirmed){
                  location.href=`/dataloggers/view/<%= dataloggerid %>/channels/<%= channelid %>`;                  
                }
              })              
  </script>
  <%
   }  
%>

</body>
</html>

