
<%- include('partials/cabecera', {titulo: "MDV Sensores - Panel de Control", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  

<div class="container my-5 py-3 " >
<% if (typeof user !== 'undefined' && user !== null && user.nombre_1 && user.apellido_1) { %>
    <h1>Perfil de <%= userRequired.nombre_1 %> <%= userRequired.apellido_1 %></h1>

    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">        
        <li class="breadcrumb-item">
          <a href="#" onclick="goBack()" >
            <i class="fas fa-arrow-left"></i> Volver
          </a>
        </li>        
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>        
        <li class="breadcrumb-item"><a href="/users/dashboard">Panel de control</a></li> 
        <li class="breadcrumb-item"><a href="/users/all">Usuarios</a></li>   
        <li class="breadcrumb-item active" aria-current="page">Ver Perfil</li>
      </ol>
    </nav>

    <p class="fs-5 mt-5" >En esta sección usted puede ver la información de la cuenta de un usuario.</p>
    <div class="container row justify-content-center">
      <a href="/users/editform/<%= userRequired.dni %>" class="btn btn-secondary col-sm-12 col-md-5 col-lg-3 m-2">Editar usuario</a>    
      <a href="/users/sendactivation/<%= userRequired.dni %>" class="btn btn-success col-sm-12 col-md-5  col-lg-3 m-2">Enviar correo activacion</a>
      <button type="button" class="btn btn-danger btn-sm col-sm-12 col-md-5  col-lg-3 m-2 eliminarUsuario" id="eliminarUsuario"
              data-dni="<%= userRequired.dni %>" 
              data-nombre_1="<%= userRequired.nombre_1 %>" 
              data-apellido_1="<%= userRequired.apellido_1 %>">Eliminar</button>
    </div>

  <div class="d-flex flex-column flex-lg-row ">
    <div class="card m-3 col-12 col-lg-6">
        <div class="card-body">
            <!-- Nombre y Apellido -->
            <h5 class="card-title">
                <%= userRequired.nombre_1 %> <%= userRequired.nombre_2 !== "null" ? userRequired.nombre_2 : '' %> <%= userRequired.apellido_1 %> <%= userRequired.apellido_2 !== "null" ? userRequired.apellido_2  : '' %>
            </h5>

            <!-- DNI -->
            <p class="card-text"><strong>DNI:</strong> <%= userRequired.dni %></p>

            <!-- Foto -->
            <img src="/images/<%= userRequired.foto %>" class="card-img-top" style="width: 200px; height:auto;"
            alt="Foto del usuario <%= userRequired.nombre_1 %> <%= userRequired.apellido_1 %>">            

            <!-- Contraseña -->
            <% if (userRequired.password === "null") { %>
                <div class="alert alert-warning mt-3" role="alert">
                    El usuario <strong> debe establecer</strong> una <strong>contraseña</strong>. Si es necesario, puede <strong> enviar el correo</strong> de activación <strong>nuevamente</strong>.
                    <a href="/users/sendactivation/<%= userRequired.dni %>" class="btn btn-success  mb-1">Enviar correo</a>
                </div>
            <% } %>

            <!-- Email -->
            <p class="card-text"><strong>Email:</strong> <%= userRequired.email %></p>

            <!-- Teléfono -->
            <p class="card-text"><strong>Teléfono:</strong> <%= userRequired.telefono %></p>           

                        
        </div>
        
    </div>
    <!-- Fin de la Card personal-->

    <!-- Comienzo de la Card de roles, estados y ubicaciones-->
    <div class="card m-3 col-12 col-lg-6" >
      <div class="card-body">
        <h5 class="card-title">Roles del usuario y estado</h5>
        <p>En esta sección se pueden asignar roles y estados para el usuario en distintas ubicaciones.</p>
        
        <!-- COMIENZO de una  Card de roles, estados y ubicaciones-->
        <% if (userLocationRoles === null || userLocationRoles.length === 0) { %>
          
          <div class="alert alert-warning" role="alert">
            El usuario no tiene roles asignados en ninguna ubicación.
          </div>
        <% } else { %>
          <% userLocationRoles.forEach(function(locationRole, i) { %>     

            <div class="card mb-3"l>
              <div class="card-body">
                <div class="mb-3 row">
                  <label for="ubicacion<%= i %>" class="col-sm-3 col-md-5 col-form-label"><%= locationRole.nombre %></label>
                </div>
                <div class="mb-3 row">
                  <label for="rol<%= i %>" class="col-sm-3 col-md-5 col-form-label">Rol: <%= locationRole.nombre_rol %></label>                  
                </div>                                
              </div>
            </div>           
            

          <% }); %>
        <% } %>
        
        
        <!-- FIN de una  Card de roles, estados y ubicaciones-->
        
      </div>
    </div>
    <!-- FIN de la Card de roles, estados y ubicaciones-->

    
    </div>


  <% } else { %>
    <h1>Error: Usuario no encontrado</h1>
  <% } %>
</div>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
<%- include('partials/piedepagina') %>     

<script src="/scripts/usersFunctionsBtns.js"></script>

<script>
  // Función para ir a la página anterior
  function goBack() {
    window.history.back();
  }
</script>
    
</body>
</html>