<%- include('partials/cabecera_visitantes', {titulo: "MDV Sensores - Registrar contrase単a"}) %>   

<div class="container-md my-5 py-3 " >
<h1>Registre su contrase単a de ingreso</h1>   
<form action="/users/setPassword/<%= userToken %>" method="post">   
  <p>
    Cambiando el <strong> password </strong> para el usuario con DNI: <strong> <%= userDni %> </strong> 
  </p> 
    <div class="mb-3">
      <label for="password" class="form-label">Contrase単a</label>
      <input type="password" class="form-control" id="password" name = "password" 
        maxlength="60" title="No debe sobrepasar los 60 digitos" required>
    </div>  
    <div class="mb-3">
      <label for="password2" class="form-label">Repita contrase単a</label>
      <input type="password" class="form-control" id="password2" name = "password2" 
        maxlength="60" title="No debe sobrepasar los 60 digitos" required>
    </div>    
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>
    
<%- include('partials/piedepagina') %>        

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%    
    if (typeof results !== 'undefined' && results === 'activacioncorrecta'){ %>
      <script>
          Swal.fire({
                  title: 'Registro exitoso !',
                  text: '<%= message %>',
                  icon: 'success',
                  confirmButtonText: 'Entendido'})
      </script>
    <%
    } 
   
%>


</body>
</html>