
<%- include('partials/cabecera', {titulo: "MDV Sensores - Ver Datalogger", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  

<div class="container my-5 py-3 " >
<% if (typeof user !== 'undefined' && user !== null && user.nombre_1 && user.apellido_1) { %>
    <h1>Perfil del datalogger X</h1>

    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" onclick="goBack()" >
            <i class="fas fa-arrow-left"></i> Volver
          </a>
        </li>   
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>        
        <li class="breadcrumb-item"><a href="/users/dashboard">Panel de control</a></li> 
        <li class="breadcrumb-item"><a href="/locations/all">Ubicaciones</a></li>   
        <!-- <li class="breadcrumb-item"><a href="/locations/view/<%= location.id %>"><%= location.nombre %></a></li>    -->
        <li class="breadcrumb-item"><a href="/dataloggers/all">Dataloggers</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ver datalogger</li>
      </ol>
    </nav>

    <p class="fs-5 mt-5">En esta secci칩n usted puede ver la informaci칩n de un datalogger.</p>
    <div class="container row justify-content-start">
       <a href="/dataloggers/editform/<%= datalogger.id %>" class="btn btn-secondary col-5 col-lg-2">Editar Datalogger</a>     
  </div>

  <div class="d-flex flex-column flex-lg-row ">
    <!-- Inicio de la Card info general-->
    <div class="card m-3 col-12 col-lg-6">
      <div class="card-body">
        <!-- Nombre  -->
        <h5 class="card-title">
          <%= datalogger.nombre %>
        </h5>
        <!-- Descripcion -->
        <p class="card-text">
          <%= datalogger.descripcion %>
        </p>
        <!-- Foto -->
        <img src="/images/<%= datalogger.foto %>" class="card-img-top" style="width: 200px; height:auto;"
          alt="Foto del datalogger ">
        <!-- Fecha de creacion -->
        <p class="card-text">Fecha de creacion: <%= datalogger.fecha_creacion %>
        </p>
      </div>
    </div>
    <!-- Fin de la Card info general-->

    <!-- Principio de la Card de canales-->
    <div class="card m-3 col-12 col-lg-6">
      <div class="card-body">
        <h5 class="card-title">
          Canales Digitales y/o analogicos
        </h5>    
        <p class="card-text">
          Listado de los canales Digitales y/o Analogicas usados en este datalogger.
        </p>
        <% if (channels.length> 0) { %>
          <ul>
            <% channels.forEach(channel=> { %>
              <li>
                <a href="/dataloggers/view/<%= datalogger.id %>/channels/<%= channel.canal_id %>">
                  <%= channel.canal_nombre %>
                </a>
                <p>
                  <%= channel.canal_descripcion %>
                </p>
              </li>
              <% }); %>
          </ul>
          <% } else { %>
            <p>No tiene canales asociados.</p>
            <% } %>
      </div>
    </div>
    <!-- Fin  de la Card de canales-->
  </div>   
  <% } else { %>
    <h1>Error: Usuario no encontrado</h1>
  <% } %>
</div>
 
    
<%- include('partials/piedepagina') %>        
<script>
  // Funci칩n para ir a la p치gina anterior
  function goBack() {
    window.history.back();
  }
</script>
    
</body>
</html>

