
<%- include('partials/cabecera', {titulo: "MDV Sensores - Ver Canal", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  

<div class="container my-5 py-3 " >
<% if (typeof user !== 'undefined' && user !== null && user.nombre_1 && user.apellido_1) { %>
    <h1>Canal "<%= currentChannel.nombre %>"</h1>   

    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" onclick="goBack()" >
            <i class="fas fa-arrow-left"></i> Volver
          </a>
        </li>   
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>        
        <li class="breadcrumb-item"><a href="/users/dashboard">Panel de control</a></li> 
        <li class="breadcrumb-item"><a href="/locations/all">Ubicaciones</a></li>   
         <li class="breadcrumb-item"><a href="/dataloggers/all">Dataloggers</a></li>  
        <!--<li class="breadcrumb-item"><a href="/locations/view/<%= location.id %>"><%= location.nombre %></a></li>  -->
        <li class="breadcrumb-item"><a href="/dataloggers/view/<%= datalogger.id %>"><%= datalogger.nombre %></a></li>  
        <li class="breadcrumb-item active" aria-current="page">Ver Canal</li>
      </ol>
    </nav>
    <p class="fs-5 mt-5">En esta sección usted puede ver la información de este canal.</p>        

    <div class="d-flex flex-column flex-lg-row ">

      <!-- Inicio  de la Card de info general-->
      <div class="card m-3 col-12 col-lg-6">
          <div class="card-body">            
              <h5 class="card-title">
                Información general
              </h5>
              <!-- Nombre del canal -->
              <p class="card-text">Nombre : <%= currentChannel.nombre %></p>
              <!-- Descripcion -->
              <p class="card-text">Descripcion : <%= currentChannel.descripcion %></p>
              <!-- Foto -->
              <img src="" class="card-img-top" alt="Foto del Canal ">            
              <!-- Fecha de creacion -->
              <p class="card-text">Fecha de creacion: <%= currentChannel.fecha_creacion %></p>
          </div>        
      </div>
      <!-- Fin de la Card de info general-->

      <!-- Principio de la Card de opciones del canal-->
      <div class="card m-3 col-12 col-lg-6">
        <div class="card-body">
          <h5 class="card-title">
            Opciones del canal
          </h5>
          <!-- userLocationRoles -->
          <p class="card-text">
            Listado de opciones para este canal, como las alarmas.
          </p>
          <div class="container row justify-content-start">
            <a href="/dataloggers/editform/1" class="btn btn-secondary col-5 col-lg-6">Editar Canal</a>
          </div>
        </div>
      </div>
      <!-- Fin  de la Card de dataloggers-->
    </div>    
    <% if (currentChannel.isAnalog == false){ %>
    <div class="d-flex flex-column flex-lg-row ">

      <!-- Inicio  de la Card de vision general de dato-->
      <div class="card m-3 col-12 col-lg-6">
        <div class="card-body d-flex flex-wrap justify-content-between align-items-center">
          <div>
              <h5 class="card-title">Vision general de Datos</h5>
              <!-- Promedio ultima hora -->
              <p class="card-text">Relación de uso. On/5 Min. Promedio última hora: 40%</p>
              <!-- alarma minimo -->
              <p class="card-text">Alarma Mínimo: 25%</p>
              <!-- alarma maxima -->
              <p class="card-text">Alarma Máximo: 75%</p>
          </div>
          <!-- Foto -->
          <img src="/images/relojPromFunc.png" class="card-img-top order-first order-md-last" style="height: auto; width: 200px;" alt="Foto del reloj de promedio de funcionamiento">
        </div> 
      </div>
      <!-- Fin de la Card de vison general de datos-->

      <!-- Inicio  de la Card de vision general de datos 2-->
      <div class="card m-3 col-12 col-lg-6">
        <div class="card-body d-flex flex-wrap justify-content-between align-items-center">
          <div>
              <h5 class="card-title">Vision general de Datos 2</h5>
              <!-- Horas de uso desde -->
              <p class="card-text">Horas de uso desde 10/05/2021: 128</p>
              <!-- alarma fecha mantenimiento preventivo -->
              <p class="card-text">Próximo mantenimiento preventivo: 29/03/2024</p>
              <!-- Usuario afectado -->
              <p class="card-text">Operario a cargo: Juan Perez</p>
          </div>          
        </div> 
      </div>
      <!-- Fin de la Card de vison general de datos 2-->

    </div>
    <% } %>

    <!-- Aquí es donde se mostrará el gráfico -->
    <div id="chart"></div>    
    <div id="chart2"></div>

  <% } else { %>
    <h1>Error: Usuario no encontrado</h1>
  <% } %>
</div>
 
    
<%- include('partials/piedepagina') %>   


<!-- Incluye ApexCharts.js -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>



//El script accede a los datos enviados desde el controlador - Esto se podria hacer consultando a una API que consulte a un endpoint en el servidor node.js
const dataChannel= <%- JSON.stringify(dataChannel || []) %>;  
const currentChannel= <%- JSON.stringify(currentChannel || []) %>;    
  // Ahora puedes usar el arrayDeDatos en tu código JavaScript
  //console.log(dataChannel, currentChannel);  

  //Si el canal es analogico
  if (currentChannel.isAnalog == true ){
      /* Preparacion de datos   para mostrar datos analogicos  */
      const myFactor = parseFloat(currentChannel.multiplicador);
      const myTimeStamps = dataChannel.map(data => data.fecha);
      const tensionesInstaneas = dataChannel.map(data => (data.inst * myFactor).toFixed(2));
      console.log("es analogico");
      // Datos del gráfico
      var options = { 
          title: {
          text : currentChannel.nombre
          },
        chart: {
          type: 'line',
          height: 400,
          width: 1200,
          background: '#f4f4f4'
        },
        series: [{       
          name: currentChannel.nombre,
          data: tensionesInstaneas
        }],
        xaxis: {
          categories: myTimeStamps,
          type: 'datetime'
        }
      }  
      // Inicializar el gráfico
      var chart = new ApexCharts(document.querySelector("#chart"), options);  
      // Renderizar el gráfico
      chart.render();
  }else{
    //Si el canal es digital
    // document.querySelector("#chart").innerHTML =  
    // `Canal Digital\nDatos: ${dataChannel[0].fecha} - ${dataChannel[0].estado} - ${dataChannel[0].cantidad} - ${dataChannel[0].tiempo} - ${dataChannel[0].tiempo_total}`;
    const myTimeStamps = dataChannel.map(data => data.fecha);
    const ultimosEstados = dataChannel.map(data => data.estado);
    const cantidadEncendidos = dataChannel.map(data => data.cantidad);
    const tiempoEncendidos = dataChannel.map(data => data.tiempo);
    const porcentajeEncendido = dataChannel.map(data => ((data.tiempo / data.tiempo_total) * 100).toFixed(0));
    
    // Datos del gráfico de estados
    var options = { 
          title: {
          text : currentChannel.nombre + ' - Últimos estados'
          },
        chart: {
          type: 'line',
          height: 200,
          width: 1200,
          background: '#f4f4f4',
          offsetX: 20, // Margen interior a la derecha
          offsetY: 20
        },          
        series: [
        {       
          name: 'Estados',
          data: ultimosEstados
        }        
        ],
        xaxis: {
          categories: myTimeStamps,
          type: 'datetime'
        }
      }  
    
    var chart = new ApexCharts(document.querySelector("#chart"), options);      
    chart.render();

    //Datos del grafico de tiempos
    var options = { 
          title: {
          text : currentChannel.nombre + ' - Tiempos de encendido'
          },
        chart: {
          type: 'line',
          height: 300,
          width: 1200,
          background: '#f4f4f4',
          offsetX: 20, // Margen interior a la derecha
          offsetY: 20
        },          
        series: [
        {       
          name: 'Tiempo encdendido',
          data: tiempoEncendidos
        }        
        ],
        xaxis: {
          categories: myTimeStamps,
          type: 'datetime'
        }
      }  
    // Inicializar el gráfico
    var chart2 = new ApexCharts(document.querySelector("#chart2"), options);  
    // Renderizar el gráfico
    chart2.render();
  }
  
</script>
    
<script>
  // Función para ir a la página anterior
  function goBack() {
    window.history.back();
  }
</script>
</body>
</html>

