
<%- include('partials/cabecera', {titulo: "MDV Sensores - Ver ubicacion", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  

<div class="container my-5 py-3 " >
<% if (typeof user !== 'undefined' && user !== null && user.nombre_1 && user.apellido_1) { %>
    <h1>Perfil de la ubicación <%= location[0].nombre %> </h1>

    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>        
        <li class="breadcrumb-item"><a href="/users/dashboard">Panel de control</a></li> 
        <li class="breadcrumb-item"><a href="/locations/all">Ubicaciones</a></li>   
        <li class="breadcrumb-item active" aria-current="page">Ver ubicación</li>
      </ol>
    </nav>

    <p class="fs-5 mt-5">En esta sección usted puede ver la información de una ubicación.</p>
    <div class="container row justify-content-start">
       <a href="/locations/editform/<%= location[0].id %>" class="btn btn-secondary col-5 col-lg-2">Editar Ubicación</a>     
  </div>

  <div class="d-flex flex-column flex-lg-row ">
    <div class="card m-3 col-12 col-lg-6">
        <div class="card-body">

          <!-- Foto -->
          <img src="/images/<%= location[0].foto %>" class="card-img-top"  style="width: 200px; height:auto;"
            alt="Foto de la ubicacion <%= location[0].nombre %> ">

          <!-- Nombre y Apellido -->
          <h3 class="card-title my-3">
               <%= location[0].nombre %>  
          </h3>

          <!-- Direccion -->
          <p class="card-text"><strong>Direccion:</strong> <%= location[0].calle %> <%= location[0].numero %> <%= location[0].localidad %></p>          

          
          <!-- Teléfono -->
          <p class="card-text"><strong>Teléfono:</strong> <%= location[0].telefono %></p>

        </div>
        
    </div>
    <!-- Fin de la Card personal-->

    <!-- Principio de la Card de datalogger-->
    <div class="card m-3 col-12 col-lg-6">    
      <div class="card-body">
        <h5 class="card-title">
          Dataloggers
        </h5>
        <!-- userLocationRoles -->        
        <p class="card-text">
          Informacion y enlaces a los dataloggers instalados en esta ubicacion.
        </p>
        <% if (dataloggersInfo !== null) { %>
          <ul>
            <% dataloggersInfo.forEach(datalogger => { %>
              <li>
                <a href="/dataloggers/view/<%= datalogger.id %>">
                  <%= datalogger.nombre %>
                </a>
                <p>
                  <%= datalogger.descripcion %>
                </p>
              </li>
            <% }); %>
          </ul>
        <% } else { %>
          <p>No tiene dataloggers asociados.</p>
        <% } %>
        
        
      </div>
    </div>
  <!-- Fin  de la Card de dataloggers-->
    </div>

    <!-- <div>
      <canvas id="myChart"></canvas>
    </div> -->


  <% } else { %>
    <h1>Error: Usuario no encontrado</h1>
  <% } %>
</div>
 
    
<%- include('partials/piedepagina') %>        
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

  // console.log("mychart")
  // const ctx = document.getElementById('myChart');

  // new Chart(ctx, {
  //       type: 'line',
  //       data: {
  //         labels: [
  //           "2023-10-10 11:11:18", "2023-10-10 11:06:10", "2023-10-10 11:01:03", "2023-10-10 10:55:54", "2023-10-10 10:50:46",
  //           "2023-10-10 10:45:38", "2023-10-10 10:40:30", "2023-10-10 10:35:23", "2023-10-10 10:30:14", "2023-10-10 10:25:06",
  //           "2023-10-10 10:19:59", "2023-10-10 10:14:50", "2023-10-10 10:09:42", "2023-10-10 10:04:36", "2023-10-10 09:59:28",
  //           "2023-10-10 09:54:21", "2023-10-10 09:49:11", "2023-10-10 09:44:04", "2023-10-10 09:38:56", "2023-10-10 09:33:47",
  //           "2023-10-10 09:28:40", "2023-10-10 09:23:29", "2023-10-10 09:18:21", "2023-10-10 09:13:12", "2023-10-10 09:08:04",
  //           "2023-10-10 09:02:57", "2023-10-10 08:57:49", "2023-10-10 08:52:42", "2023-10-10 08:47:34", "2023-10-10 08:42:26",
  //           "2023-10-10 08:37:18", "2023-10-10 08:32:11", "2023-10-10 08:27:02", "2023-10-10 08:21:55", "2023-10-10 08:16:47",
  //           "2023-10-10 08:11:38", "2023-10-10 08:06:30", "2023-10-10 08:01:23", "2023-10-10 07:56:15", "2023-10-10 07:45:54"
  //         ],
  //         datasets: [{
  //           label: 'Mediciones',
  //           data: [
  //             329, 325, 323, 322, 321, 321, 321, 331, 318, 318,
  //             318, 317, 319, 319, 318, 320, 315, 314, 313, 314,
  //             316, 314, 310, 311, 310, 315, 312, 304, 312, 311,
  //             307, 310, 309, 307, 307, 307, 307, 314, 314, 316
  //           ],
  //           borderWidth: 1
  //         }]
  //       },
  //       options: {
  //         scales: {
  //           y: {
  //             beginAtZero: true
  //           }
            
  //         }
  //       }
        
  //     });


</script>
    
</body>
</html>

