
<%- include('partials/cabecera', {titulo: "MDV Sensores - Ver Datalogger", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  

<div class="container my-5 py-3 " >
<% if (typeof user !== 'undefined' && user !== null && user.nombre_1 && user.apellido_1) { %>
    <h1>Datalogger: <%= datalogger.nombre %></h1>

    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" onclick="goBack()" >
            <i class="fas fa-arrow-left"></i> Volver
          </a>
        </li>   
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>        
        <li class="breadcrumb-item"><a href="/users/dashboard">Panel de control</a></li> 
        <li class="breadcrumb-item"><a href="/locations/all">Ubicaciones</a></li>          
        <li class="breadcrumb-item"><a href="/dataloggers/all">Dataloggers</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ver datalogger</li>
      </ol>
    </nav>
    <!-- Inicio de la Card info general-->
    <div class="card ">
      <div class="card-body row">
        <div class="col-sm-6 col-12 ">
          <!-- Foto -->
          <img src="/images/<%= datalogger.foto %>" class="card-img-top" style="width: 200px; height:auto;"
          alt="Foto del datalogger ">
        </div>
        <div class="col-sm-6 col-12  ">
          <!-- Nombre  -->
          <h5 class="card-title">
            Caracteristicas de "<%= datalogger.nombre %>"
          </h5>
          <!-- Descripcion -->
          <p class="card-text">
            <%= datalogger.descripcion %>
          </p>        
          <!-- Fecha de creacion -->
          <p class="card-text"> <strong>Fecha de creacion:</strong> <%= formatearFecha(datalogger.fecha_creacion) %>
          </p>  
          <!-- Numero de canales asociados -->
          <p class="card-text">
            <strong>Canales conectados:</strong> <span id="numero_canales_digitales">digitales</span> - <span id="numero_canales_analogicos">analogicos</span>
          </p>          
          <div class="row">             
            <a href="/dataloggers/editform/<%= datalogger.id %>" class="btn btn-secondary col-6 col-sm-5 mx-sm-1">Editar Datalogger</a>               
            <!-- '/view/:id/channels/add' -->
            <a href="/dataloggers/<%= datalogger.id %>/channels/add" class="btn btn-success col-6 col-sm-5 mx-sm-1">Agregar Canal</a>
          </div>
        </div>
        
      </div>
    </div>
    <!-- Fin de la Card info general-->
  <div class="d-flex flex-row flex-wrap ">   

    <% if (channels.length> 0) { 
       channels.forEach(channel=> { %>
        <!-- Principio de la Card de 1 canal analogico o digital-->
        <div class="card mt-2 col-12 col-lg-6">
          <div class="card-body">
            <h5 class="card-title">
              Canal <%= (channel.nombre_columna.startsWith('a')) ? 'analogico' : 'digital' %> #<%= channel.nombre_columna %> "<em><%= channel.canal_nombre %></em>"
            </h5>    
            <p class="card-text">
              <%= channel.canal_descripcion %>
            </p>
            <!-- Ejemplo de id para los graficos 'chart_a1 o chart_d1' -->
            <div id="chart_<%= channel.nombre_columna %>"></div>  
            <p class="card-text">
              
              <button id="<%= channel.nombre_columna %>_cambiarSerieBtn"  value="24">Cambiar serie</button>
              <label for="<%= channel.nombre_columna %>_cambiarSerieBtn" id="<%= channel.nombre_columna %>_cambiarSerieLabel">Ultimas 24 Hs.</label><br>
              Valor MAX: <strong><span id="<%= channel.nombre_columna %>_max_value"></span></strong> -  Valor MIN: <strong><span id="<%= channel.nombre_columna %>_min_value">></span></strong> <br>           
              Alarmas MAX: <span id="<%= channel.nombre_columna %>_alarm_max"></span> - MIN: <span id="<%= channel.nombre_columna %>_alarm_min"></span> <br>   
              <a href="/dataloggers/view/<%= datalogger.id %>/channels/<%= channel.canal_id %>" class="btn btn-secondary mt-3">Ver y/o editar canal y alarmas</a>               
            </p>
          </div>
        </div>
        <!-- Fin  de la Card de 1 canal analogico o digital-->
        <% }); %>
    <% } else { %>
      <p>No tiene canales asociados.</p>
      <% } %>   
  </div>   
  <% } else { %>
    <h1>Error: datalogger no encontrado</h1>
  <% } %>
</div>
 

    
<%- include('partials/piedepagina') %>        
  <!-- Incluye ApexCharts.js -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  // Función para ir a la página anterior
  function goBack() {
    window.history.back();
  }

  const channels = <%- JSON.stringify(channels || []) %>;
  const channelsData= <%- JSON.stringify(channelsData || []) %>; 
  
//console.log(channelsData);

  const showAnalogCard = (currentChannel, dataChannel) => {  
    /* Preparacion de datos   para mostrar datos analogicos  */
    const myFactor = parseFloat(currentChannel.multiplicador);
    const myTimeStamps = dataChannel.map(data => data.fecha_local);
    const valuesInst = dataChannel.map(data => (data.inst * myFactor).toFixed(2));      
    const valuesMax = dataChannel.map(data => (data.max * myFactor).toFixed(2));
    const valuesMin = dataChannel.map(data => (data.min * myFactor).toFixed(2));         
    const $maxValue = document.getElementById(`${currentChannel.nombre_columna}_max_value`); 
    const $minValue = document.getElementById(`${currentChannel.nombre_columna}_min_value`);
    const $alarmMax = document.getElementById(`${currentChannel.nombre_columna}_alarm_max`);
    const $alarmMin = document.getElementById(`${currentChannel.nombre_columna}_alarm_min`);
    $maxValue.innerHTML = Math.max(...valuesMax);
    $minValue.innerHTML = Math.min(...valuesMin);
    $alarmMax.innerHTML = 50;
    $alarmMin.innerHTML = 30;    
      
    // Datos del gráfico
    var options = { 
        title: {
        text : currentChannel.canal_nombre
        },
      chart: {
        type: 'line',
        height: 300,
        width: "100%",
        background: '#f4f4f4',          
      },
      
      series: [        
      {       
        name: "Maxima",
        data: valuesMax,
        color: '#e29578'
      },
      {       
        name: "Promedio",
        data: valuesInst,
        color: '#83c5be'
      },        
      {       
        name: "Minima",
        data: valuesMin,
        color: '#006d77'
      }
      ],
      xaxis: {
        categories: myTimeStamps,
        type: 'datetime'
      },
      stroke: {
      show: true,
      curve: 'straight',
      lineCap: 'butt',
      colors: undefined,
      width: 1,
      dashArray: 0, 
    },
    tooltip: {
      x: {
        show: true,
        format: 'dd/MMM - HH:mm ',
        formatter: undefined,
    }
    }
    }  
    // Inicializar el gráfico chart_a1
    const idNameChart = `chart_${currentChannel.nombre_columna}`;
    var chart = new ApexCharts(document.getElementById(idNameChart), options);  

    // Renderizar el gráfico      
    chart.render();

    
  }


  const showDigitalCard = (currentChannel, dataChannel) => {  

    const $maxValue = document.getElementById(`${currentChannel.nombre_columna}_max_value`); 
    const $minValue = document.getElementById(`${currentChannel.nombre_columna}_min_value`);
    const $alarmMax = document.getElementById(`${currentChannel.nombre_columna}_alarm_max`);
    const $alarmMin = document.getElementById(`${currentChannel.nombre_columna}_alarm_min`);
    const $cambiarSerieBtn = document.getElementById(`${currentChannel.nombre_columna}_cambiarSerieBtn`);
    const $cambiarSerieLabel = document.getElementById(`${currentChannel.nombre_columna}_cambiarSerieLabel`);

    $cambiarSerieBtn.addEventListener('click', (e) => {   
      $cambiarSerieLabel.innerHTML = $cambiarSerieBtn.value == '24' ? 'Ultima hora' : 'Ultimas 24 Hs.';
      $cambiarSerieBtn.value = $cambiarSerieBtn.value == '24' ? '1' : '24';
      $maxValue.innerHTML = $cambiarSerieBtn.value == '1' ? maxPorcEncendidoOneHour : maxPorcEncendido;
      $minValue.innerHTML =  $cambiarSerieBtn.value == '1' ? minPorcEncendidoOneHour : minPorcEncendido;
            
      chart.updateOptions({
        title: {
        text : `Porcentaje de encendido - ${$cambiarSerieLabel.innerHTML}`
        },
        series: [        
            {       
              name: "MAX % Enc. / Apag.",
              data: $cambiarSerieBtn.value == '1' ?  maxArrayOneHour : maxArray,
              color: 'red'             
            },
            {       
              name: "Porcentaje de encendido",
              data: $cambiarSerieBtn.value == '1' ?  dataAllOneHour.porc_encendido : dataAll.porc_encendido,
              color: '#e29578'             
            },
            {       
              name: "MIN % Enc. / Apag.",
              data: $cambiarSerieBtn.value == '1' ?  minArrayOneHour : minArray,
              color: 'green'             
            },                 
            ],
              xaxis: {
              categories: $cambiarSerieBtn.value == '1' ?  dataAllOneHour.fecha_local : dataAll.fecha_local,
              type: 'datetime'      
          }
      })
    });

    /* Preparacion de datos   para mostrar datos   */
    const dataAll = {
        fecha_local: [],
        tiempo: [],
        porc_encendido: []
      };
        
    dataAll.fecha_local = dataChannel.map(data => data.fecha_local);     //Necesary       
    dataAll.tiempo = dataChannel.map(data => data.tiempo);
    dataAll.porc_encendido = dataChannel.map(data => data.porc_encendido);//Necesary    
    const maxPorcEncendido = Math.max(...dataAll.porc_encendido);//Necesary
    const minPorcEncendido = Math.min(...dataAll.porc_encendido);//Necesary
   
    
    const groupByThree = (data) => {
      const result = {
        fecha_local: [],
        tiempo: [],
        porc_encendido: []
      };
      for (let i = 0; i < data.length; i += 3) {
        const group = data.slice(i, i + 3);

        if (group.length === 3) {
          const fechaTercero = group[2].fecha_local;
          const promedioTiemposEncendidos = group.reduce((sum, item) => sum + item.tiempo, 0) / 3;
          const porcentajeEncendidoApagado = group.reduce((sum, item) => sum + item.porc_encendido, 0) / 3;
          result.fecha_local.push(fechaTercero);
          result.tiempo.push(promedioTiemposEncendidos.toFixed(0));
          result.porc_encendido.push(porcentajeEncendidoApagado.toFixed(2));
        }
      }      
      return result;
    }
    
    
    const groupByLastHour = (data) => {      
      
      const now = new Date() ;
      const timeZone = 3;

      let {fecha_local, tiempo, porc_encendido} = data;
      
      const currentTime = new Date(now.getTime() - (60 * 60 * 1000 * timeZone));      
      const oneHourAgo = new Date(now.getTime() - (60 * 60 * 1000 * (timeZone + 1)));   
      // Convertir las fechas a formato ISO 8601
      const nowISOString = currentTime.toISOString();
      const oneHourAgoISOString = oneHourAgo.toISOString();
      // Encontrar el índice de la última marca de tiempo menor o igual a la hora actual
      const lastIndexBeforeNow = fecha_local.findLastIndex(timestamp => timestamp <= nowISOString);
      // Encontrar el índice de la primera marca de tiempo mayor que la hora una hora atrás
      const firstIndexAfterOneHourAgo = fecha_local.findIndex(timestamp => timestamp > oneHourAgoISOString);      
      
      return {
        fecha_local:  fecha_local.slice(firstIndexAfterOneHourAgo, lastIndexBeforeNow + 1),
        tiempo: tiempo.slice(firstIndexAfterOneHourAgo, lastIndexBeforeNow + 1),
        porc_encendido: porc_encendido.slice(firstIndexAfterOneHourAgo, lastIndexBeforeNow + 1),
      }         
    }

    const dataAllOneHour = groupByLastHour(dataAll); 
    const maxPorcEncendidoOneHour = Math.max(...dataAllOneHour.porc_encendido);//Necesary
    const minPorcEncendidoOneHour = Math.min(...dataAllOneHour.porc_encendido);//Necesary
    
    $maxValue.innerHTML = $cambiarSerieBtn.value == '1' ? maxPorcEncendidoOneHour : maxPorcEncendido;
    $minValue.innerHTML =  $cambiarSerieBtn.value == '1' ? minPorcEncendidoOneHour : minPorcEncendido;
    $alarmMax.innerHTML = 'null';
    $alarmMin.innerHTML = 'null';
    
      


    const maxArray = new Array(dataAll.fecha_local.length), minArray = new Array(dataAll.fecha_local.length); 
    const maxArrayOneHour = new Array(dataAllOneHour.fecha_local.length), minArrayOneHour = new Array(dataAllOneHour.fecha_local.length); 
    maxArray.fill(maxPorcEncendido);
    minArray.fill(minPorcEncendido);
    maxArrayOneHour.fill(maxPorcEncendidoOneHour);
    minArrayOneHour.fill(minPorcEncendidoOneHour);
    

       
    var options = { 
        title: {
        text : `Porcentaje de encendido - ${$cambiarSerieLabel.innerHTML}`
        },
      chart: {
        type: 'line',
        height: 300,
        width: "100%",
        background: '#f4f4f4',        
        toolbar: {
          show: true,
          tools: {
            download: true,
            selection: true,
            zoom: false,
            zoomin: true,
            zoomout: true,
            pan: true,
            reset: true | '<img src="/static/icons/reset.png" width="20">',
            customIcons: []
          } 
        }                 
      },    
      series: [        
            {       
              name: "MAX % Enc. / Apag.",
              data: maxArray,
              color: 'red'             
            },
            {       
              name: "Porcentaje de encendido",
              data: dataAll.porc_encendido,
              color: '#e29578'             
            },                               
            {       
              name: "MIN % Enc. / Apag.",
              data: minArray,
              color: 'green'             
            }
            ],
              xaxis: {
              categories: dataAll.fecha_local,
              type: 'datetime'      
          },
      stroke: {
      show: true,
      curve: 'straight',
      lineCap: 'butt',
      colors: undefined,
      width: 1,
      dashArray: 0, 
    },
    tooltip: {
      x: {
        show: true,
        format: 'dd/MMM - HH:mm ',
        formatter: undefined,
    }
    }
    }  
    // Inicializar el gráfico chart_a1
    const idNameChart = `chart_${currentChannel.nombre_columna}`;
    var chart = new ApexCharts(document.getElementById(idNameChart), options);  

    // Renderizar el gráfico      
    chart.render();
  }

  const channelsQty = channels.length;

  if (channels.length > 0){
    let digitalChannelsQty = 0, analogChannelsQty = 0;
    for (let i = 0; i < channelsQty; i++){      
      if (channels[i].nombre_columna.startsWith('a')){      
        //console.log(`Canal analogico: ${channels[i].nombre_columna}`);   
        showAnalogCard(channels[i], channelsData[i].data);
        analogChannelsQty++;
      }else {
        //console.log(`Canal digital: ${channels[i].nombre_columna}`); 
        showDigitalCard(channels[i], channelsData[i].data);    
        digitalChannelsQty++;         
      }      
    }
    //console.log(`Canales digitales: ${digitalChannelsQty}\nCanales analogicos: ${analogChannelsQty}`); 
    document.getElementById('numero_canales_digitales').innerHTML = 
      digitalChannelsQty > 0 ? `${digitalChannelsQty} digitales ` : 'sin canales digitales';
    document.getElementById('numero_canales_analogicos').innerHTML = 
      analogChannelsQty > 0 ? `${analogChannelsQty} analogicos ` : 'sin canales analogicos';
  }else{
    console.log("No tiene canales asociados al datalogger");
  }

  
</script>
    
</body>
</html>

