
<%- include('partials/cabecera', {titulo: "MDV Sensores - Ver ubicacion", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  

<div class="container my-5 py-3 " >
<% if (typeof user !== 'undefined' && user !== null && user.nombre_1 && user.apellido_1) { %>
    <h1>Perfil de la ubicación <%= location.nombre %> </h1>

    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" onclick="goBack()" >
            <i class="fas fa-arrow-left"></i> Volver
          </a>
        </li>   
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>        
        <li class="breadcrumb-item"><a href="/users/dashboard">Panel de control</a></li> 
        <li class="breadcrumb-item"><a href="/locations/all">Ubicaciones</a></li>   
        <li class="breadcrumb-item active" aria-current="page">Ver ubicación</li>
      </ol>
    </nav>

    <p class="fs-5 mt-5">En esta sección usted puede ver la información de una ubicación.</p>
    <div class="container row justify-content-start">
       <a href="/locations/editform/<%= location.id %>" class="btn btn-secondary col-5 col-lg-2">Editar Ubicación</a>     
  </div>

  <div class="d-flex flex-column flex-lg-row ">

    <!-- Inicio de la Card de ubicacion-->
    <div class="card m-3 col-12 col-lg-6">
        <div class="card-body">
          <!-- Foto -->
          <img src="/images/<%= location.foto %>" class="card-img-top"  style="width: 200px; height:auto;"
            alt="Foto de la ubicacion <%= location.nombre %> ">
          <!-- Nombre de la ubicacion -->
          <h3 class="card-title my-3">
               <%= location.nombre %>  
          </h3>
          <!-- Direccion -->
          <h4 class="card-title my-3">
            Direccion  
          </h4>

          <input type="hidden" id="provincia_id" name="provincia_id" value="<%= location.provincia %>">
          <input type="hidden" id="partido_id" name="partido_id" value="<%= location.partido %>">
          <input type="hidden" id="localidad_id" name="localidad_id" value="<%= location.localidad %>">

          <p class="card-text"><%= location.calle %> <%= location.numero %> </p>          
          <p class="card-text" id="partido_localidad"><strong>Localidad:</strong> <%= location.localidad %></p>   
          <p class="card-text" id="partido_nombre"><strong>Partido:</strong> <%= location.partido %></p>   
          <p class="card-text" id="provincia_nombre"><strong>Provincia:</strong> <%= location.provincia %></p>   

          <!-- Descripcion -->
          <p class="card-text"><%= location.descripcion %></p>          
          <!-- Teléfono -->
          <p class="card-text"><strong>Teléfono:</strong> <%= location.telefono %></p>
          <!-- Email -->
          <p class="card-text"><strong>Correo electronico: </strong> <%= location.email %></p>

        </div>        
    </div>
    <!-- Fin de la Card de ubicacion-->

    <!-- dataloggersInfo -->
    <div class="card m-3 col-12 col-lg-6">
      <div class="card-body">
        <h5 class="card-title">Dataloggers asociados</h5>
        <% if (Array.isArray(dataloggersInfo) && dataloggersInfo.length > 0) { %>
          <% dataloggersInfo.forEach(function(item) { %>
            <div class="card mb-3">
              <div class="card-body">
                <a href="/dataloggers/view/<%= item.id %>"><%= item.nombre %></a>
                <p class="card-text"><%= item.descripcion %></p>
              </div>
            </div>
          <% }); %>
        <% } else { %>
          <p>No hay dataloggers asociados.</p>
        <% } %>
      </div>
    </div>


  </div>    

  <% } else { %>
    <h1>Error: Usuario no encontrado</h1>
  <% } %>
</div>
 
<%- include('partials/modal_nueva_ubicacion_datalogger') %>   

    
<%- include('partials/piedepagina') %>        



<script src="/scripts/mostrarNombresDireccion.mjs" type="module"></script> 



<script>
  // Función para ir a la página anterior
  function goBack() {
    window.history.back();
  }
</script>

</body>
</html>

