
<%- include('partials/cabecera', {titulo: "MDV Sensores - Panel de Control", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  

<div class="container my-5 py-3 " >
<% if (typeof user !== 'undefined' && user !== null && user.nombre_1 && user.apellido_1) { %>
    <h1>Perfil de la ubicación <%= location[0].nombre %> </h1>

    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>        
        <li class="breadcrumb-item"><a href="/users/dashboard">Panel de control</a></li> 
        <li class="breadcrumb-item"><a href="/locations/all">Ubicaciones</a></li>   
        <li class="breadcrumb-item active" aria-current="page">Ver ubicación</li>
      </ol>
    </nav>

    <p class="fs-5 mt-5">En esta sección usted puede ver la información de una ubicación.</p>
    <div class="container row justify-content-start">
       <a href="/locations/editform/<%= location[0].id %>" class="btn btn-secondary col-5 col-lg-2">Editar Ubicación</a>     
  </div>

  <div class="d-flex flex-column flex-lg-row ">
    <div class="card m-3 col-12 col-lg-6">
        <div class="card-body">
            <!-- Nombre y Apellido -->
            <h5 class="card-title">
                <%= location[0].nombre %>  
            </h5>

            <!-- Direccion -->
            <p class="card-text"><strong>Direccion:</strong> <%= location[0].calle %> <%= location[0].numero %> <%= location[0].localidad %></p>

            <!-- Foto -->
            <img src="<%= location.foto %>" class="card-img-top" alt="Foto de la ubicacion <%= location.nombre %> ">

            
            <!-- Teléfono -->
            <p class="card-text"><strong>Teléfono:</strong> <%= location[0].telefono %></p>

        </div>
        
    </div>
    <!-- Fin de la Card personal-->

    <!-- Principio de la Card de datalogger-->
    <div class="card m-3 col-12 col-lg-6">    
      <div class="card-body">
        <h5 class="card-title">
          Dataloggers
        </h5>
        <!-- userLocationRoles -->        
        <p class="card-text">
          Informacion y enlaces a los dataloggers instalados en esta ubicacion.
        </p>
      </div>
    </div>
  <!-- Fin  de la Card de dataloggers-->
    </div>

    <div>
      <canvas id="myChart"></canvas>
    </div>


  <% } else { %>
    <h1>Error: Usuario no encontrado</h1>
  <% } %>
</div>
 
    
<%- include('partials/piedepagina') %>        
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  console.log("mychart")
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
        type: 'line',
        data: {
          labels: [
            "2023-10-10 11:11:18", "2023-10-10 11:06:10", "2023-10-10 11:01:03", "2023-10-10 10:55:54", "2023-10-10 10:50:46",
            "2023-10-10 10:45:38", "2023-10-10 10:40:30", "2023-10-10 10:35:23", "2023-10-10 10:30:14", "2023-10-10 10:25:06",
            "2023-10-10 10:19:59", "2023-10-10 10:14:50", "2023-10-10 10:09:42", "2023-10-10 10:04:36", "2023-10-10 09:59:28",
            "2023-10-10 09:54:21", "2023-10-10 09:49:11", "2023-10-10 09:44:04", "2023-10-10 09:38:56", "2023-10-10 09:33:47",
            "2023-10-10 09:28:40", "2023-10-10 09:23:29", "2023-10-10 09:18:21", "2023-10-10 09:13:12", "2023-10-10 09:08:04",
            "2023-10-10 09:02:57", "2023-10-10 08:57:49", "2023-10-10 08:52:42", "2023-10-10 08:47:34", "2023-10-10 08:42:26",
            "2023-10-10 08:37:18", "2023-10-10 08:32:11", "2023-10-10 08:27:02", "2023-10-10 08:21:55", "2023-10-10 08:16:47",
            "2023-10-10 08:11:38", "2023-10-10 08:06:30", "2023-10-10 08:01:23", "2023-10-10 07:56:15", "2023-10-10 07:45:54",
            "2023-10-10 07:40:47", "2023-10-10 07:35:38", "2023-10-10 07:30:30", "2023-10-10 07:25:22", "2023-10-10 07:20:14",
            "2023-10-10 07:15:07", "2023-10-10 07:09:59", "2023-10-10 07:04:52", "2023-10-10 06:59:41", "2023-10-10 06:54:34",
            "2023-10-10 06:49:25", "2023-10-10 06:44:16", "2023-10-10 06:39:09", "2023-10-10 06:34:00", "2023-10-10 06:28:54",
            "2023-10-10 06:23:45", "2023-10-10 06:18:38", "2023-10-10 06:13:30", "2023-10-10 06:08:23", "2023-10-10 06:03:15",
            "2023-10-10 05:58:07", "2023-10-10 05:53:00", "2023-10-10 05:47:51", "2023-10-10 05:42:43", "2023-10-10 05:37:36",
            "2023-10-10 05:32:27", "2023-10-10 05:27:19", "2023-10-10 05:22:07", "2023-10-10 05:16:59", "2023-10-10 05:11:49",
            "2023-10-10 05:06:42", "2023-10-10 05:01:30", "2023-10-10 04:56:22", "2023-10-10 04:51:16", "2023-10-10 04:46:06",
            "2023-10-10 04:40:58", "2023-10-10 04:35:51", "2023-10-10 04:30:43", "2023-10-10 04:25:33", "2023-10-10 04:20:25",
            "2023-10-10 04:15:14", "2023-10-10 04:10:04", "2023-10-10 04:04:55", "2023-10-10 03:59:48", "2023-10-10 03:54:40",
            "2023-10-10 03:49:32", "2023-10-10 03:44:26", "2023-10-10 03:39:18", "2023-10-10 03:34:10", "2023-10-10 03:29:03",
            "2023-10-10 03:23:56", "2023-10-10 03:18:44", "2023-10-10 03:13:36", "2023-10-10 03:08:29", "2023-10-10 03:03:23",
            "2023-10-10 02:58:15", "2023-10-10 02:53:08", "2023-10-10 02:48:01", "2023-10-10 02:42:52", "2023-10-10 02:37:45",
            "2023-10-10 02:32:34", "2023-10-10 02:27:26", "2023-10-10 02:22:19", "2023-10-10 02:17:09", "2023-10-10 02:12:03",
            "2023-10-10 02:06:55", "2023-10-10 02:01:44", "2023-10-10 01:56:36", "2023-10-10 01:51:28", "2023-10-10 01:46:20",
            "2023-10-10 01:41:13", "2023-10-10 01:36:06", "2023-10-10 01:30:59", "2023-10-10 01:25:50", "2023-10-10 01:20:41",
            "2023-10-10 01:15:33", "2023-10-10 01:10:26", "2023-10-10 01:05:19", "2023-10-10 01:00:08", "2023-10-10 00:55:01"
          ],
          datasets: [{
            label: 'Mediciones',
            data: [
              329, 325, 323, 322, 321, 321, 321, 331, 318, 318,
              318, 317, 319, 319, 318, 320, 315, 314, 313, 314,
              316, 314, 310, 311, 310, 315, 312, 304, 312, 311,
              307, 310, 309, 307, 307, 307, 307, 314, 314, 316,
              317, 314, 313, 313, 308, 306, 309, 313, 306, 305,
              308, 303, 304, 306, 314, 309, 306, 303, 304, 305,
              314, 307, 303, 317, 314, 320, 313, 316, 316, 321,
              318, 316, 316, 320, 316, 319, 320, 320, 319, 320,
              316, 329, 320, 315, 321, 324, 325, 335, 327, 324,
              318, 321, 320, 326, 333, 328, 322, 327, 328, 331
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
            
          }
        }
        
      });


</script>
    
</body>
</html>

